@tailwind base;
@tailwind components;
@tailwind utilities;

/* Continuous Typing Animation */
@keyframes typing {
  0% { width: 0; }
  50%, 100% { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.text-typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black; /* Blinking cursor */
  animation: typing 4s steps(30, end) infinite, blink 0.5s step-end infinite;
}




